<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Jump Page</title>
</head>
<body>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>

        let timerInterval;
        Swal.fire({
            title: '請先登入會員!',
            html: '將在 <b></b> 毫秒後跳轉首頁',
            timer: 2000,
            timerProgressBar: true,
            didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                }, 100)
            },
            willClose: () => {
                clearInterval(timerInterval)
            }
        }).then((result) => {
            /* Read more about handling dismissals below */
            if (result.dismiss === Swal.DismissReason.timer) {
            	window.location.href = "/rr/";
            }
        })
    </script>

</body>
</html>



