<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<footer>
	<div class="container">
		<div class='row'>
			<div class='col-md-6 text-right'>
				<img src='/rr/img/images/newlogo.png' width='200' height="130"
					style="border: 1px solid white">

			</div>
			<!-- <div class='col-md-4 text-center'>
                <h4>連結</h4>
                <ul>
                    <li><a href='index.html'>主頁</a></li>
                    <li><a href='all.html'>會員</a></li>
                </ul>
                <ul>
                    <li><a href='faq.html'>常見問題</a></li>
                    <li><a href='contact.html'>聯絡我們</a></li>
                </ul>
            </div> -->
			<div class='col-md-6 text-left'>
				<h4>聯絡我們</h4>
				<p>
					桃園市中壢區新生路二段421號<br> Phone: (03) 4666-666<br> E-Mail: <a
						href='mailto:realityrift.official@gmail.com'>realityrift.official@gmail.com</a>
				</p>
			</div>
		</div>
	</div>
	&copy;網頁僅供EEIT65 第六組專題報告使用
</footer>
</body>
</html>