  

  @font-face {
            font-family: 'Noto Sans TC Regular';
            src: url('/rr/fonts/NotoSansTC-Regular.otf') format('opentype');
        }

* {
	font-family: noto-regular;
}

.colorwhite {
	color: rgb(224, 224, 228);
}


.inline_flex {
	display: inline-flex;
}

h1, h2, h3, h4, h5, h6 {
	font-family: noto-medium;
}

.btn-arrow {
	height: 30px;
	width: 30px;
	padding: 0;
	text-align: center;
	border-radius: 100%;
	position: relative;
	top: 10em;
	margin: 10px;
}

.btn-to-top {
	height: 40px;
	width: 40px;
	padding: 0;
	font-size: 20px;
	text-align: center;
	border: 2px gray solid;
	color: gray;
	border-radius: 100%;
	position: fixed;
	right: 2%;
	top: 90%;
	animation-name: btn-top-movement;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes btn-top-movement { 0% {
	right: 2%;
	top: 90%
}

50%
{
right
:
2%;
top
:
88%
}
100%
{
right
:
2%;
top
:
90%
}
}
.fontsize {
	font-size: 1.3em;
}

@media ( min-width :992px) {
	.navbar-collapse .navbar-nav {
		position: absolute;
		right: 0;
	}
}

.navbar-nav li a {
	border-radius: 10px;
	font-weight: bold;
}

.navbar-nav li a:hover {
	background-color: rgb(112, 106, 106);
	transition: 0.3s linear;
}

.navli {
	margin-right: 2em;
}

.nav-link {
	font-size: 1.2em;
}

.loginModal {
	margin-top: 1em;
	margin-bottom: 5em;
}



