<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
<link rel="short icon" href="img/images/jigsaw-icon.png">
<link rel="stylesheet" th:href="@{/css/maincss.css}">
<link rel="stylesheet" th:href="@{/css/contectus.css}">
<script src="https://kit.fontawesome.com/68f8681dba.js"
	crossorigin="anonymous"></script>
<style>

</style>
<title>聯繫我們</title>
</head>



<body>
	<!-- 導覽列 -->
	<div th:replace="~{layout/main_navbar}"></div>
	<!-- 註冊表單 -->
	<div class="con container">
		<form id="form" class="form">
			<h3 class="text-center">聯繫我們</h3>
			<p class="">若您有任何需要我們服務的地方，請填寫以下表單表達您的意見，我們收到您的來信後，將儘速於 3～5 日內回覆（不含週六例假日）。</p>
			<p class="">若您超過時間尚未收到我們的回信，或您的問題尚未得到解決，
				請撥打客服專線 (03)4666-666 (週一至週五，早上九點至下午五點)。</p>
			<p>*以下欄位均為必填，敬請詳細填寫</p>
			<div class="row">
				<div class="col-4">姓名*<input type="text" class="form-control" id="name" name="name" required/></div>
				<div class="col-4">電話*<input type="text" class="form-control" id="phone" name="phone" required/></div>
				<div class="col-4">Email*<input type="email" class="form-control" id="email" name="email" required/></div>
			</div>
			<div class="row">
				<div class="col-6">主旨*<input type="text" class="form-control" id="topic" name="topic" required/></div>
				<div class="col-6">詢問主題*<select id="theme" name="theme" class="form-control">
												<option value="0">---請選擇你的主題---</option>
												<option value="1">會員帳號相關</option>
												<option value="2">網站使用相關</option>
												<option value="3">遊戲預約相關</option>
												<option value="4">論壇討論相關</option>
												<option value="5">周邊商城相關</option>
										</select></div>
			</div>
			<div class="row">
				<div class="col-12">問題或意見*<textarea id="content" name="content" class="form-control textarea" required></textarea></div>
			</div>
			<br>
			<div class="row">
				<div class="col-3">驗證碼*<input type="text" class="form-control" id="v-code" required/></div>
				<div class="col-3"><img class="v-img" src="/rr/captcha/captchaImage" onclick="this.src='/rr/captcha/captchaImage?'+Math.random()"/></div>
				<div class="col-2"><button type="button" id="one-btn" class="btn btn-sm btn-secondary">一鍵輸入</button></div>
				<div class="col-2"><button class="btn btn-outline-secondary big-btn">重新填寫</button></div>
				<div class="col-2"><button type="submit" id="submit" class="btn btn-outline-primary big-btn">確定送出</button></div>
			</div>
		</form>
	</div>
	<!-- btn-to-top -->
	<a href="#" class="btn btn-to-top"> <svg
			xmlns="http://www.w3.org/2000/svg" width="16" height="16"
			fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
				d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
            </svg>
	</a>

	<!-- footer -->
	<div th:replace="~{layout/main_footer}"></div>

	<script th:src="@{/js/jquery-3.6.4.js}"></script>
	<script>
            $(function () {
				
				//一鍵輸入
				$('#one-btn').click(function(){
					$('#name').val('姚奕辰');
					$('#phone').val('0912-345678');
					$('#email').val('ycyao1103@gmail.com');
					$('#topic').val('帳號無預警被凍結了');
					$('#theme').val(1);
					$('#content').val('我的帳號無預警被凍結了，請幫我確認');
					
				})
				
				
				
				$('#form').submit(function(e){
					e.preventDefault();
					if($('#theme').val()==0){
						Swal.fire(
					      '詢問主題尚未選擇',
					      '請再確認一次',
					      'error'
					    )
					}else{
						
					let form = $(this);
					let formData = new FormData(form[0]);
					$.ajax({
						url:'/rr/captcha/checkcaptchanumber',
						type:'GET',
						data:{'v-code':$('#v-code').val()},
						success:function(result){
							if(result){
								$.ajax({
									url:'/rr/api/insertcontectus',
									type:'POST',
									data:formData,
									processData: false,
      								contentType: false,
									success:function(result1){
										console.log(result1);
										if(result1){
											Swal.fire(
												      '表單已提交(單號:'+result1.contectid+')',
												      '請耐心等候，我們將儘速回覆',
												      'success'
												    ).then((result) => {window.location.href = "/rr";}
										)}else{
											Swal.fire(
												      '表單提交失敗',
												      '表單提交失敗，請再確認',
												      'error'
												    )
										}
									},
									error:function(){
										console.log('error');
									}
								})
							}else{
								Swal.fire({
							      title:'驗證碼錯誤',
							      text:'請重新輸入',
							      icon:'error',
							      didClose: () => {
									$('#v-code').val('');
							    	$('#v-code').focus();
									  }
							    })
							    
							}
						},
						error:function(){
							console.log('error');
						}
					})}
				})
            })

        </script>

	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
		integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
		integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
		crossorigin="anonymous"></script>
</body>

</html>