<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <style>

    </style>

    <title>修改密碼</title>
</head>

<body>
    <!-- 導覽列 -->
    <div th:replace="~{layout/main_navbar}"></div>

    <!-- 側邊欄 -->

    <!-- 會員個人資料 -->
    <section class="profile">
        <div class="container">
            <div class="row main-content">
                <div class="col-2 left">
					<div th:replace="~{member/MemberProfileSidebar}"></div>
                </div>
                <div class="row col-10 right">
                    <div class="col-md-10 offset-md-4">
                        <div class="main">
                        <h2 class="h2Font text-center title">修改密碼</h2>
                              <div class="row">
                                  <div class="member-info offset-md-2 col-md-10">
									  <table>
										  <tbody>
											  <input type="hidden" id="memno" th:value="${session.member.memno}"/>
											  <tr>
												  <td><span class="info-title">請輸入現在的密碼</span></td>
												  <td ><input id="password" class="form-control" type="password" /></td>
											  </tr>
											  <tr>
												  <td><span class="info-title">請輸入欲修改密碼</span></td>
												  <td><input id="newPassword" class="form-control" type="password" /></td>
											  </tr>
											  <tr>
												  <td><span class="info-title">再次確認欲修改密碼</span></td>
												  <td><input id="newPassword2" class="form-control" type="password" />
												  <div id="validationServerPasswordFeedback"
														class="invalid-feedback">兩次輸入的密碼不一致</div></td>
											  </tr>
											 
										  </tbody>
									  </table>
									  <div class="update-btn-div row"><button class="col-2 offset-md-10 btn btn-sm btn-outline-primary confirmWarning" id="confirm-btn">送出</button></div>
                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    	<!-- footer -->
	<div th:replace="~{layout/main_footer}"></div>

        
    <script>
		
		$(function () {
			
			$('#editPassword').addClass('active');
			
			let passwordOK=false;
			
			$('#newPassword').blur(function(){
				if($('#newPassword2').val()!=$('#newPassword').val()){
					$('#newPassword2').addClass('is-invalid');
					$('#confirm-btn').prop('disabled',true);
				}else{
					$('#newPassword2').removeClass('is-invalid');
					$('#confirm-btn').prop('disabled',false);
				}
				if($('#newPassword').val()==''){
             		passwordOK=false;
             		passwordWarning='密碼不能為空';
             	}else if($('#newPassword').val().match(/^[A-Za-z0-9._-]{6,15}$/)){
             		passwordOK=true;
             		passwordWarning='';
             	}else{
             		passwordOK=false;
             		passwordWarning='密碼字元或格式有誤';
             	}
             	checkInfo();
			})
			$('#newPassword2').blur(function(){
				if($('#newPassword2').val()!=$('#newPassword').val()){
					$('#newPassword2').addClass('is-invalid');
					$('#confirm-btn').prop('disabled',true);

				}else{
					$('#newPassword2').removeClass('is-invalid');
					$('#confirm-btn').prop('disabled',false);
				}
				checkInfo();
			})
			
			
			
			function checkInfo(){
            	if(passwordOK){
             		$('#confirm-btn').removeClass('confirmWarning').addClass('confirmSubmit');
             	}else{
             		$('#confirm-btn').addClass('confirmWarning').removeClass('confirmSubmit');
             	}
            }
            
            $(document).on('click','.confirmWarning',function(){
            	Swal.fire({
            		  title: '欲修改密碼字元或格式有誤',
            		  text: "密碼應為6-15個字元，可以使用的符號有._-",
            		  icon: 'error'
            		})
            })
            $(document).on('click','.confirmSubmit',function(){
            	$.ajax({
					method:'put',
					url:'/rr/api/editPassword',
					data:{
						memno:$('#memno').val(),
						password:$('#password').val(),
						newPassword:$('#newPassword').val()
					},
					success:function(result){
						if(result){
							Swal.fire({
		            		  title: '修改成功',
		            		  icon: 'success',
		            		  text: "請重新登入",
		            		  confirmButtonColor: '#3085d6',
		            		  confirmButtonText: 'OK'
		            		}).then((result) => {
		            		  if (result.isConfirmed) {
		            			  window.location.href='http://localhost:8080/rr';
		            		  }
		            		})
						}else{
							Swal.fire({
	                		  title: '密碼輸入錯誤，請重新輸入',
	                		  icon: 'error'
	                		})
						}
					},
					error:function(){
						console.log('失敗');
					}
				})
            	
            	
            })
        })
			
			
			
			
			
		
	</script>
</body>

</html>